@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@media/*(width:1024px)*/ {
    .login-box modal-dialog {
        max-width: 70%;
        border-radius: 1.7rem;
    }
}

/*.login-box .modal-content {
    border-radius: 1.7rem;
}*/

.login-box .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
/*     background-color: #fff; */ 
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
}
.login-box .modal-header img {
    width: 50px;
}

.login-box .modal-title {
    margin-left: auto;
    margin-right: auto;
}

.login-box .modal-header {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    /*background: linear-gradient(90deg, rgba(5,62,73,1) 0%, rgba(102,172,172,1) 48%, rgba(0,151,255,1) 100%);*/
}

.login-box .modal-footer {
    border-top: none;
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.login-box .modal-body {
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
}

.login-box .title {
    font-size: 23px;
    color: #339dad;
    margin-bottom: 1vh;
}

@media/*(min-height:768px)and(min-width:411px)*/ {
    .title {
        font-size: 20px;
        /*color: grey;*/
    }
}


input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.input-group {
    position: relative;
    margin-bottom: 1vh;
    border-bottom: 1px solid rgba(204, 204, 204, 0.459);
}

.input--style-3 {
    font-size: 20px;
    color: #339dad;
    background: transparent;
    height: 44px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:1vh;
}
    .input--style-3:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .input--style-3::-webkit-input-placeholder {
        color: rgb(143, 141, 141);
    }

    .input--style-3:-moz-placeholder {
        color: #ccc;
        opacity: 1;
    }

    .input--style-3::-moz-placeholder {
        color: #ccc;
        opacity: 1;
    }

    .input--style-3:-ms-input-placeholder {
        color: #ccc;
    }

.btn {
    display: inline-block;
    line-height: 42px;
    padding: 0 33px;
    font-family: Poppins;
    cursor: pointer;
    color: #66acac;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
   
}

.btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 30px;
    border: 2px solid;
}

.btn--green {
    background: transparent;
    border-color: #65d849;
    color: #65d849;
    font-size: 12px;
    padding: 0;
}

@media(max-width:768px) {
    .btn--green {
        font-size: 8px;
    }
}

.btn--green img {
    height: 15px;
    width: 15px;
}

.btn--signin {
    display: inline-block;
    line-height: 42px;
    padding: 0 33px;
    font-family: Poppins;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
    width: 100%;
    background-color: #339dad;
    margin-bottom: 3vh;
    border-radius: 30px;
    border: 2px solid;
}
    .btn--signin:hover {
        color:white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        background:#66acac;
    }

.extra {
    padding-bottom: 1vh;
    font-size: 20px;
    color: #339dad;
}
/*    .extra a {
    font-size: 20px;
    color: #339dad;
    }
*/
/*.col {
    padding: 2vh 10px 4vh;
}*/

.new {
    padding-bottom: 0;
}

.btn-primary {
    width: 40%;
    margin: 30%
}

.btn:focus {
    box-shadow: none;
    outline: none;
}


.content h2 {
    font-size: 19px;
}

.box {
    position: relative;
    /*transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;*/
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(38,116,128);
    /*border: 2px solid #2a3cad;*/
    color: white;
    padding: 20px;
}

    .box:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.1);
        transition: 0.5s;
        pointer-events: none;
    }

    .box:hover:before {
        left: -50%;
        transform: skewX(-5deg);
    }


    .box .content {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 1px solid #f0a591;
        padding: 20px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    }

    .box span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;
    }

        .box span:nth-child(1) {
            transform: rotate(0deg);
        }

        .box span:nth-child(2) {
            transform: rotate(90deg);
        }

        .box span:nth-child(3) {
            transform: rotate(180deg);
        }

        .box span:nth-child(4) {
            transform: rotate(270deg);
        }

        .box span:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: #50dfdb;
            animation: animate 4s linear infinite;
        }




@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: left;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
} 
/* Signup Model*/
.login-box .nav-pills .nav-link {
    color: #339dad;
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
}

.login-box .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    display: inline-block;
    line-height: 38px;
    padding: 0 15px;
    font-family: Poppins;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
    width: 100%;
    background-color: #339dad;
    color: rgba(var(--bs-btn-focus-shadow-rgb), .5);
    border-color: #ccc;
    margin-bottom: 1vh;
    border-radius: 30px;
    border: 2px solid;
}

