<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CETRMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
	  <buildProviders>
		  <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
	  </buildProviders>
	  <assemblies>
		  <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		  <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
	  </assemblies>
    <httpRuntime targetFramework="4.7.2" />
  <pages>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls>
	</pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="Googleclientid" value="1000341331241-0ui5pi8j7ui0luoitrojsjgblpqsp5n1.apps.googleusercontent.com" />
		<add key="Googleclientsecret" value="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" />
		<add key="FacebookclientId" value="1433069507520609" />
		<add key="FacebookclientSecret" value="033ae5219e5620f520d2d585725e595a" />
		<add key="EmpSignUpRedirectURL" value="http://192.168.1.91/UERMS/EmployerSignUp.aspx" />
		<add key="CandSignUpRedirectURL" value="http://192.168.1.91/UERMS/CandidateSignUp.aspx" />
		<add key="ZoomAPIKey" value="FoP3BdJNRG-rHoKN-0AxIA" />
		<add key="ZoomAPIKeySecret" value="ZWVjaMyKHZp7SMlUBnmhSkUbtTzsGOAgudpV" />
		<add key="EnableLogging" value="1"></add>
		<!--//0 for Disable-->
		<add key="LogSeverity" value="0" />
		<add key="ApplicationName" value="UERMS" />
		<add key="ClientEmail" value="info@coder-edge.com" />
		<add key="AppURL" value="http://192.168.1.91/UERMS/" />
		<add key="TempFileClearTime" value="60"></add>
		<add key="EnableEmailNotificaiton" value="=1"/>
		<add key="EnableWhatsAppNotification" value="0"/>
		<add key="WhatsAppPhoneID" value="117033731362870"/>
		<add key="WhatsappBusinessID" value="101011259650591"/>
		<add key="WhatsAppAuthToken" value="EAAHkMnu8688BAG4kt66uQSFqXbAMI4icG6ZBYtgeNIIFEQjVIKFFtnbOjYL89ZCBZAEpnz3cZBkZAYDjOdbZBnXRPRHRkU6LNaQW5M42Rl9VgvZC4wJAaeF0oUVzd0P3c7KNAJ3KQHWJZBzQqQGlJ8ZAtHGOoFkTyA6Amnv4ZAF4Ev0lWX96HR5b500WrgjPRsyUV1AWhVjwbYZAeBZAxOEHyp7K"/>
		<add key="EmployerAPIUUID" value="ec2337d9-2ac9-48d6-a9a0-1086e54542de"/>
		<add key="EmployerAPIPassword" value="JY%gepq$t=ZA*6B??j"/>
		<add key="CandidateAPIUUID" value="fd7dfbd0-bbd8-4559-ae41-d8c4276e7e8a"/>
		<add key="CandidateAPIPassword" value="xm??9sa8q2Hg4aJgK"/>
		<!--<add key="_EmployerAPIKey" value="ueewsJWBCHiRPVZHLCsoQaUEQKp5H4drcvHX5iKcBHbrFTQ9CaqPbMSmj6j2xDxHJY18DxxsCMIaQQDmyGKzmm8ZlVwV3Zp35hTw5Q6seXDbiWXLOglwGbOpT2WP15Oz"/>-->
		<add key="_EmployerAPIKey" value="fee6e21eb76c5f6c0d451f238d3c975b"/>
		<add key="_CandidateAPIKey" value="uecwszmud3hwOZIWjVS5afim9EMulCNuyosP65fPiDG0gbMhEcAvr5Y55aAAEzjgaG3A4Oj2L1JbI6HhQTdtUbTH9VyEHadt0G3hNQ4a0zvnsZi4ovasBO2tr1iIzt0v"/>
		<add key="EncryptionPassword" value="@OQ8Pu?U"/>
		<add key="EdgePMSSupport" value="1"/>
		<add key="EdgePMSSupportCustomerID" value="2301010100001"/>
		<add key="SoftwareVersion" value="1.0.0"/>
	</appSettings>
	<connectionStrings>
		<add name="CETRMSDB" connectionString="Data Source=CET001\SQLEXPRESS;Initial Catalog=CETRMS;User ID=cet;Password=cet.001" providerName="System.Data.SqlClient" />
    <add name="SyslogDB" connectionString="Data Source=CET001\SQLEXPRESS;Initial Catalog=SyslogDB;User ID=cet;Password=cet.001" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <CETRMS.Properties.Settings>
      <setting name="CETRMS_WebReference_WebService1" serializeAs="String">
        <value>http://192.168.1.91/EdgePMS/webservice1.asmx</value>
      </setting>
    </CETRMS.Properties.Settings>
  </applicationSettings>
</configuration>